<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 text-center">
      <form ngNativeValidate #fizzBuzzForm="ngForm" class="justify-content-center" (ngSubmit)="playFizzBuzz(fizzBuzzForm)">
        <div class="form-group">
          <label for="input-no">Enter a number</label>
          <input type="number"
                 name="inputNo"
                 id="input-no"
                 [(ngModel)]="inputNumber"
                 class="form-control"
                 placeholder="e.g. 15"
                 required="true"
                 min="-9999999"
                 max="9999999">
        </div>
        <button type="submit" id="play-button" class="btn btn-success">Play!</button>
      </form>
      <div *ngIf="result" class="card bg-light mt-3">
        <div class="card-header" id="result-card">
          FizzBuzz of {{result.input}} is: {{result.result}}
        </div>
      </div>
      <div *ngIf="error" class="card bg-danger mt-3">
        <div class="card-header" id="error-card">
          Error occurred!
        </div>
      </div>
    </div>
  </div>
</div>
